<html>
<head>
<head>
<title>Samarambh - Smart way of celebration</title>
    <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



</head>
<body>

        <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><i class="icon-map-marker"> </i>Samarambh</a>
          
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
                



           <ul class="nav navbar-nav navbar-right">
           
           
          <li><a href="/addbusiness/"> Add Business</a></li> 
          
          
                  
          </ul> </div>
      </div>
    </div>

    

    {% block content %}

    {% endblock content %}


     <script src="//code.jquery.com/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script> 
    <script src="/static/js/bootswatch.js"></script>

</body>
</html>