<html>
<head>
<head>
<title>iBoilerplate - Heroku-Django Boilerplate</title>
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



</head>
<body>

        <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><i class="icon-map-marker"> </i>iBoilerplate</a>
          
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
                



           <ul class="nav navbar-nav navbar-right">
           
           
          <li><a href="/accounts/register/"> Register</a></li> 
          <li><a href="/accounts/login/">Login</a></li>     
          
                  
          </ul> </div>
      </div>
    </div>
    <br/>
    <hr/>
    
    
    <hr/>
    {% block content %}

    {% endblock content %}


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>

</body>
</html>